<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd">

	<!-- 声明杂技师 -->
	<bean id="duke" class="com.springinaction.springidol.Juggler" />

	<!-- 声明莎士比亚诗歌 -->
	<bean id="sonnet29" class="com.springinaction.springidol.Sonnet29" />

	<!-- 声明诗歌朗诵杂技师 -->
	<bean id="poeticDuke" class="com.springinaction.springidol.PoeticJuggler">
		<constructor-arg value="15" />
		<constructor-arg ref="sonnet29" />
	</bean>

	<!-- 声明乐器表演者 -->
	<bean id="kenny" class="com.springinaction.springidol.Instrumentalist">
		<property name="song" value="Jingle Bells" />
	</bean>

	<!-- 注入属性 -->
	<bean id="kenny2" class="com.springinaction.springidol.Instrumentalist">
		<property name="song" value="Jingle Bells" />
		<property name="instrument" ref="saxophone" />
	</bean>

	<!-- 声明萨克斯风 -->
	<bean id="saxophone" class="com.springinaction.springidol.Saxophone" />

	<!-- 声明钢琴-->
	<bean id="piano" class="com.springinaction.springidol.Piano" />

	<!-- 声明多乐器演奏者, 参数类型为Collection -->
	<bean id="hank" class="com.springinaction.springidol.OneManBand">
		<property name="instruments">
			<list>
				<ref bean="saxophone"/>
				<ref bean="piano"/>
			</list>
		</property>
	</bean>

	<!-- 声明多乐器演奏者, 参数类型为Map -->
	<bean id="hanks" class="com.springinaction.springidol.OneManBandMap">
		<property name="instruments">
			<map>
				<entry key="SAXPHONE" value-ref="saxophone" />
				<entry key="PIANO" value-ref="piano" />
			</map>
		</property>
	</bean>

	<!-- SpEl表达式, 对象.属性 -->
	<bean id="carl" class="com.springinaction.springidol.Instrumentalist">
		<property name="song" value="#{kenny.song}" />
	</bean>

	<!-- SpEl表达式, 配置文件.属性 -->
	<!-- <bean id="stan" class="com.springinaction.springidol.Instrumentalist">
		<property name="song" value="#{systemProperties.STANS_SONG}" />
	</bean> -->

	<!-- 歌单 -->
	<util:list id="songList">
		<bean class="com.springinaction.springidol.Song">
			<constructor-arg value="That Old Black Magic" />
			<constructor-arg value="Arlen and Mercer" />
			<constructor-arg value="That old black magic has me in its spell..." />
		</bean>
		<bean class="com.springinaction.springidol.Song">
			<constructor-arg value="Every Little Thing She Does is Magic" />
			<constructor-arg value="Sting" />
			<constructor-arg value="Though Ive tried before to tell her..." />
		</bean>
		<bean class="com.springinaction.springidol.Song">
			<constructor-arg value="Magic Carpet Ride" />
			<constructor-arg value="Moreve and Kay" />
			<constructor-arg
				value="I like to dream yes, yes, right between my sound machine..." />
		</bean>
	</util:list>

	<!-- 声明SongBook -->
	<bean id="magicSongBook" class="com.springinaction.springidol.SongBook">
		<constructor-arg value="#{songList.![title]}" />
	</bean>

	<!--<start id="ricky_bean"/> -->
	<bean id="ricky" class="com.springinaction.springidol.Instrumentalist">
		<property name="song" value="#{magicSongBook.pickASong()}" />
	</bean>
</beans>
