<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
     http://www.springframework.org/schema/beans/spring-beans.xsd
     http://www.springframework.org/schema/aop
     http://www.springframework.org/schema/aop/spring-aop.xsd">

	<!-- 定义乐器演奏家eddie -->
	<bean id="eddie" class="com.springinaction.springidol.Instrumentalist">
		<property name="instrument">
			<bean class="com.springinaction.springidol.Guitar" />
		</property>
	</bean>

	<!-- 定义audience bean -->
	<bean id="audience" class="com.springinaction.springidol.Audience" />

	<!-- 使用Spring的AOP配置元素声明一个audience切面 -->
	<aop:config>
		<aop:aspect ref="audience">
			<!-- pointcut属性定义了通知所应用的切点. pointcut属性的值是使用AspectJava切点表达式语法所定义的切点 -->
			<aop:before pointcut="execution(* com.springinaction.springidol.Performer.perform(..))" method="takeSeats"/>
			<aop:before pointcut="execution(* com.springinaction.springidol.Performer.perform(..))" method="turnOffCellPhones"/>

			<aop:after-returning pointcut="execution(* com.springinaction.springidol.Performer.perform(..))" method="applaud"/>
			<aop:after-throwing pointcut="execution(* com.springinaction.springidol.Performer.perform(..))" method="demandRefund"/>
		</aop:aspect>
	</aop:config>

</beans>
